/* ******** DESIGN FOR DIVICE ******** */
@media (min-width: 1551px) {
    #header .MXH {
        position: absolute;
    }

    #container .chi-nhanh p {
        font-size: 35px;
    }
}

@media (max-width: 1551px) and (min-width: 740px) {
    #header {
        height: auto;
    }

    #header .MXH {
        margin-left: 35%;
    }

    #footer li {
        margin: auto;
        width: 60% !important;
    }

    #content-3 .member {
        float: right;
        width: 45%;
    }

    #container .chi-nhanh p {
        font-size: 30px;
    }
}

@media (max-width: 740px) {
    #header {
        height: auto;
    }


    .Introduce .member {
        float: none;
        width: 100%;
        margin-left: 10px;
    }
    #content-2 .member {
        float: none;
        width: 100%;
    }

    #content-3 iframe {
        width: 90%;
    }


    #container .chi-nhanh {
        float: none;
        width: 100%;
    }
    #container .chi-nhanh p {
        font-size: 16px;
    }


    #footer div li {
        float: none;
        width: 100%;
        text-align: center;
    }
}