/* viết css 3 cách:
    1.Internal(tạo thẻ style viet trong khối chung là thẻ <...>)
        <style> 
        h1{
            color:cyan;
            font-size: 40px;
        }
        </style>

    2.External(viet file rieng)
        <link rel="stylesheet" href="main.css">
    
    3.Inline(viet truc tiep trong thẻ <...> : 1 Attribute)
        <h1 style="color:cyan;font-size: 40px;">Hello</h1>

    Đặt id thì CSS truy cập bằng #(id){}
    Đặt class thì CSS truy cập bằng .(ten_class){}
        */
/*todo background
    background-size:    
                cover : là chiếm hết box
                contain : là lấy chiều nhỏ nhất làm chiều dài ảnh max và ảnh vẫn giữ tỉ lệ
    background: <no-repeat> <position>/<size> url()
    background-origin: 
                border-box: ảnh chiếm vào phần border
                padding-box: ....              padding 
*/
/* todo display
    inline: tạo 1 hàng ngang và tận dụng hết width còn lại 
    block : sẽ nhảy xuống dưới tạo 1 block mà width phải là 100% cửa sổ
    inline-block: tạo 1 hàng ngang block width-minimum thành
*/
/* todo float
    dùng float sẽ bị co box cha của nó và khắc phục là
    thêm html: <div class="clear"></div>
         css: .clear{clear: both;}
    */
/* todo tạo phủ màu tối cho img
    cách 1 gọn vl: filter: grayscale(20%) brightness(70%); 
    cách 2: tạo box rồi backround tối mờ trên img
        background-color: rgba(0, 0, 0, 0.3);
*/
/* ! Chat AI là chân ái */
/* dùng display: inline-block; làm các block bị cách nhau 1 khoảng nhỏ cho việc xuống dòng các thẻ trong html
    cách 1 khắc phục: viết các thẻ liên tục đừng xuống hàng 
    cách 2 margin-right: -5px;margin-right: -5px;
*/



/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background chèn vào tới border*/
}


/* *******SETUP********* */
html {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --height-header: 80px;
}

.text-white {
    color: #fff !important;
}




/* ********HEADER******** */
#header {
    height: var(--height-header);
    width: 100%;
    position: fixed;
    background-color: #0058A0;
    top: 0px;
    z-index: 1;

    display: inline-block;
}

#header > .MXH > p {
    display: inline-block;
    margin-right: -5px;
}

#header #logo {
    display: inline-block;
    margin: 0 85px;
    width: 200px;
}

#logo img{
    position: absolute;
    top: 10px;
    width: 200px;
    height: 60px;
}

.ti-angle-down {
    font-size: 12px;
}

#header .MXH {
    display: inline-table;
    height: var(--height-header);
}

#header .MXH .icon-header {
    display: inline-block;
    vertical-align: middle;
    margin: auto 0 auto 16px;

    background: rgb(255, 0, 0);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;

    cursor: pointer;
    transition: opacity 0.5s ease;
    opacity: 0.8;
}

#header .icon-header:hover {
    opacity: 1;
}

.MXH .js-login{
    display: inline;
    position: relative;
}



/* ******* HEADER-SECOND********* */
.js-hide.hide {
    display: none !important;
}

.js-right.right {
    float: right;
    display: flex !important;
    align-items: center;
    margin-right: 30px;
}

.header-second {
    background-color: #fff;
    display: none;
    border-radius: 20px;
}

.header-second.show {
    display: inline-block;
    margin: 20px 50px;
}

.header-second input {
    padding: 6px 400px 6px 10px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.header-second input:focus {
    outline: none;
}

.ti-search {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: blue;
}


/* ******** NAVIGATION ******** */
#navigation {
    display: inline;
}

#navigation > li {
    position: relative;
    display: inline-block;
    margin-left: -5px;  /* làm cho thanh before sát vào */
}

#navigation, .subnav, li {
    list-style: none;/* loại bỏ chấm tròn trước text */
}

#navigation > li::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 60px;
    top: 10px;
    background-color: rgb(178, 178, 231);
}

#navigation .ti-angle-down::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 60px;
    top: 10px;
    right: 0;
    background-color: rgb(178, 178, 231);
}

#navigation li a {
    text-decoration: none;
    padding: 0 16px;
    line-height: var(--height-header);
}

#navigation > li > a {
    display: inline-block;
    color: white;
    text-transform: uppercase;
}

#navigation > li:hover > a {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

/* tạo block cho subnav */
#navigation li:hover .subnav {
    display: block;
    width: max-content;
}

#navigation .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(98, 76, 87, 0.5);/* tạo viền bóng đổ*/
}

#navigation .subnav li:hover {
    background-color: rgba(83, 73, 80, 0.1);
}

#navigation .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 40px;
}


/* ******** LOG IN ******** */
#modal-login.show {
    display: flex;
}

#modal-login {
    position: fixed;
    top: var(--height-header);
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
    justify-content: center;
    text-align: center;
    background-color: #fff;

    font-size: 1.4em;
}

.log-in h1 {
    margin: 50px 0 30px 0;
    color: #4696EB;
}

.icon-login {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 40px;

    border-radius: 50%;
    background-image: url(../image/login.png);
    background-size: cover;
    border: 2px solid #000;
}

.modal-label {
    display: flex;
}

.modal-label i {
    margin-right: 10px;
}

.modal-input {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0 24px;
    padding: 10px;
    border: 2px solid #4696EB;
}

button.enter {
    font-size: 22px;
    color: white;
    background-color: #4696EB;
    border-radius: 20px;

    padding: 10px 40px;
    cursor: pointer;
    margin: 40px 30px 0 0;
}

button.enter:hover {
    background-color: rgba(255, 0, 0, 0.8);
}




/* ******* SLIDER ********* */
#slider {
    position: relative;
    height: 500px;
    margin-top: var(--height-header);
    padding-top: 50%;
    /* khi co man hinh web lại thì box vẫn có cao bằng 50% chiều ngang */
    background: no-repeat center/cover url(../image/hospital.jpg);
}

#slider .text-0 {
    position: absolute;
    bottom: 47px;
    background-color: blue;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    /* ! muốn có chữ ko background và gọn thì 
    width: 100%; 
    */
    /* ! muốn có background ở giữa thì */
    left: 50%;
    transform: translateX(-50%);
}



/* ******** CONTAINER ******** */
#container {
    margin-top: 50px;
    height: 2000px;
}

.content-1 {
    width: 1000px;
    height: 500px;
    margin: 0 auto 0 auto;
    background-color: rgba(0, 30, 140, 0.1);
    border-radius: 10px;
}

.content-2 {
    width: 1000px;
    height: 500px;
    margin: 40px auto 0 auto;
    background-color: rgba(200, 30, 140, 0.1);
    border-radius: 10px;
}

.content-3 {
    width: 1000px;
    height: 500px;
    margin: 40px auto 0 auto;
    background-color: rgba(9, 240, 71, 0.1);
    border-radius: 10px;
}

.content-1 h1, .content-2 h1, .content-3 h1, .contact .lienhe, .leave-info h2 {
    margin: 20px 0;
    padding-top: 10px;
    text-align: center;
    color: red;
    letter-spacing: 2px;
    /* khoang cach ki tu */
}

.content-1 h2,
.content-2 h2,
.content-3 h2 {
    text-align: justify;
    /* căn đều text */
    line-height: 1.6;
    /* line-spacing*/
}

#container .member {
    float: left;
    width: calc(100%/3);
    text-align: center;
}

#container .name-doctor {
    margin: 30px 0 10px 0;
    font-size: 20px;
}

#container .content-2 img {
    width: 300px;
    border-radius: 8px;
    /* bo góc */
}

#container .content-3 {
    text-align: center;
}

.content-3 img {
    border-radius: 8px;
    width: 80%;
}



/* *********BANNER******* */
#banner-left {
    display: none;
}

#banner-right {

    display: none;
}



/* ******* CONTACT  ********* */
#container .contact {
    background-color: black;
    text-align: center;
}

.contact .lienhe::after {
    /* tạo đường line kẻ ở dưới */
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #fff;
}

#container .chi-nhanh {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}

.clear {
    clear: both;
}

.chi-nhanh img {
    width: 100%;
}

.chi-nhanh p {
    font-size: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}



/* ********SENT INFOR TO MAKE APPOINTMENT******** */
.leave-info {
    margin: 20px auto;
    width: 70%;
    height: 300px;
    background: #fff;
}



/* ******* FOOTER ********* */
#footer {
    height: 600px;
}



/* ******* show-info && logout ********* */
.MXH #info {
    height: 368px;
    width: 338px;
    position: absolute;
    right: 0;
    background-color: #eee;
}

#info img {
    width: 90px;
    height: 100px;
    margin: 10px  0;
}

#info div {
    display: flex;
    justify-content: center;
}

#info .text {
    display: block;
    margin-top: 10px;
}

#info .text p {
    line-height: 30px;
    font-size: 16px;
}

#info .logout {
    height: 78px;
    width: 338px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#info .logout p {
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 30px;
    left: 100px;
}

#info .logout a {
    text-decoration: none;
}

#info .logout img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 55px;
}

#info .text div {
    height: 29px;
    width: 338px;
}

#info .text .line {
    height: 1px;
    width: 300px;
    background-color: #B4B4B4;
    margin-left: 16.9px;
}

#info .logout div {
    height: 77px;
    width: 100%;
}

.logout .line {
    flex: 1;
    height: 1px;
    background-color: #B4B4B4;
}

#info #none {
    height: 16px;
    width: 338px;
    background-color: #0058A0;
    position: relative;
}
#info #none .triangle {
    border-left: 14.14px solid transparent; 
    border-right: 14.14px solid transparent; 
    border-bottom: 20px solid #eee;
    position: absolute;
    right: 13px;
}
.js-login:hover #info {
    display: block;
}
#info {
    display: none;
}


/* ******* info-personal ********* */
#info-personal.show {
    display: flex;
}

#info-personal {
    position: fixed;
    top: var(--height-header);
    bottom: 0;
    left: 0;
    right: 0;

    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
}

#info-personal #back-home {
    position: relative;
    top: -270px;
    left: -140px;
    border: none;
    font-size: 15px;
}

#info-personal .ti-home {
    background-color: #4696EB;
    border-radius: 50%;

    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 25px 20px 25px 70px;
    width: 90px;
}

#info-personal #back-home:hover div {
    display: block;
}

#back-home:hover {
    height: 19px;
    left: -125px !important;
}

#back-home div {
    display: none;
    position: relative;
    top: -18px;
    left: 100px;
    right: 0;
    bottom: 0;
}


#info-personal .background-info {
    background-color: #C4C4C4;
    border-radius: 10px;
    width: 1200px;
    height: 600px;
}

.background-info h1 {
    margin: 20px 0 10px 500px;
    justify-content: center;
}

.background-info .table {
    float: left;
    width: 50%;
    height: 450px;

    display: flex;
    justify-content: center;
}

.background-info img {
    position: relative;
    top: 20px;
    right: 40px;

    width: 3cm;
    height: 4cm;
}

.background-info label {
    display: flex;
    margin: 16px auto 4px;
}

.background-info input {
    width: 360px;
    padding: 5px;
    border-radius: 3px;
}

.background-info .save {
    margin: 0 565px;
}